
Programs/NET7/20230417_ColorTrackTest/ColorTrackTest/.vs/

Programs/NET7/20230417_ColorTrackTest/ColorTrackTest/obj/

Programs/NET7/20230417_ColorTrackTest/ColorTrackTest/bin/Debug/net7.0-windows/runtimes/
